<div class="addNewsContainer container-fluid">
<div class="title__admin row justify-content-center fw-bold fs-5">QUẢN LÝ TIN TỨC</div>
    <div class="error_message col-ms-3 alert alert-danger d-flex justify-content-center align-items-center" role="alert">
        <i class="fa-solid fa-triangle-exclamation text-danger"></i>
        <div>Xóa không thành công</div>
    </div>
    <div class="error_message col-ms-3 alert alert-success d-flex justify-content-center align-items-center" role="alert">
            <i class="fa-regular fa-thumbs-up me-3 text-success"></i>
        <div>Xóa thành công</div>
</div>
    <nav class="news_nav d-flex justify-content-between col-sm-11 ms-auto me-0 mb-3">
        <div class="d-flex">
        <a href="/news/add-news" class="nav-tools p-3"><i class="fa-solid fa-square-plus me-2"></i><span>Thêm tin</span></a>
        <a href="#" class="nav-tools ms-2 p-3"><i class="fa-solid fa-folder-plus me-2"></i><span>Nhập</span></a>
        <div class="tools_selected">
            <a href="" id="delete_news" class="nav-tools ms-2 p-3" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash me-2"></i><span>Xóa</span></a>
            <a href="#" id="update_news" class="nav-tools ms-2 p-3"><i class="fa-solid fa-pen-to-square me-2"></i><span>Sửa</span></a>
            <a href="#" class="nav-tools ms-2 p-3"><i class="fa-solid fa-folder-plus me-2"></i><span>Nhập</span></a>
        </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="tools_selected nav-tools ms-2 p-3"><i class="fa-solid fa-xmark me-2"></i>
                <span>Đã chọn</span>
                <span class="ms-1 fw-bold count_selected"></span>
            </div>
            <div class="tools_selected nav-tools ms-2 p-3">
                <span class="me-1">Chọn tất cả</span>
                    <div class="checkall">
                        <input type="checkbox" name="checkall" value="all" id="myCheckbox">
                        <label for="myCheckbox"></label>
                    </div>
            </div>
            <a href="#" class="nav-tools ms-2 p-3"><span>Sắp xếp</span><i class="fa-solid fa-arrow-down ms-2"></i></a>
            <a href="#" class="nav-tools ms-2 p-3"><span>Chi tiết</span><i class="fa-solid fa-info ms-2"></i></a>
        </div>
    </nav>
<div
class="d-flex col-sm-10 mx-auto my-0 flex-wrap p-2 news-container">
{{#each newsList}}
<div class="card card-news">
    <div class="card-img-top">
    <div class="checkbox">
        <input type="checkbox" name="checkbox" value="{{this.news_id}}" id="myCheckbox{{this.news_id}}">
        <label for="myCheckbox{{this.news_id}}"></label>
    </div>
    <img src="/public/images/news/{{this.image}}" alt="..." />
    </div>
    <div class="card-body">
        <a class="card-title fw-bold fs-6 text-capitalize" title="{{this.news_title}}">{{this.news_title}}</a>
        <p class="card-text">{{shortContent this.news_content}}</p>
        <a href="/news/detail-news/{{this.news_id}}" class="btn btn-primary">Xem chi tiết</a>
    </div>
</div>
<h2 class="text-center hide d-flex flex-column justify-content-center align-items-center mx-auto"><i class="fa-regular fa-face-sad-tear"></i> Đang không có tin tức nào. <a class="text-primary" href="/news/add-news">Thêm ngay</a></h2>
{{/each}}
</div>
{{#ISEMPTY newsList}}
    <h2 class="text-center d-flex flex-column justify-content-center align-items-center mx-auto"><i class="fa-regular fa-face-sad-tear"></i> Đang không có tin tức nào. <a class="text-primary" href="/news/add-news">Thêm ngay</a></h2>
{{/ISEMPTY}}
{{#NOTEMPTY newsList}}
<nav aria-label="Page navigation example">
<ul class="pagination justify-content-center mt-5">
    <li class="page-item">
    <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
    </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
    <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
    </a>
    </li>
</ul>
</nav>
{{/NOTEMPTY}}
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-circle-info me-2"></i>Thông báo</h5>
        <button type="button" class="btn-close modal-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center">Bạn đã chọn <span class="count_selected"></span></p>
        <p class="text-center">Xác nhận xóa ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="" id="delete__confirm" type="button" class="btn btn-primary">Lưu</a>
        </div>
    </div>
  </div>
</div>
</div>
</div>
<script src="/js/news.js"></script>